[Unit]
Description=Wallpaper Changer

[Service]
Type=oneshot
#User=daniel
#Group=daniel
ExecStart=/usr/local/bin/wallpaperator

[Install]
WantedBy=multi-user.target

